
# Ignore virtual environment directory and files
env/


# Ignore Python bytecode
__pycache__/


# Ignore machine learning data files
backend/ml_app/data/*
backend/lookup_table.csv
*.csv
backend/categorized_transactions.csv
backend/lookup_table.csv
