/* Dashboard Wrapper */
#dashboard-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  flex-wrap: wrap;
}

#dashboard-wrapper h1 {
  font-size: 35px;
  padding: 0;
}

/* Activity Graph */
#activity-graph {
  width: 850px;
  height: 353px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}

#activity-graph h2 {
  font-size: 20px;
  padding: 0;
}

/* Balance Display */
#balance-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

#balance-display h2 {
  margin-left: 24px;
  font-size: 15px;
  position: relative;
  z-index: 2;
  padding: 0;
}

/* Transaction Form Container */
.transaction-form-container {
  display: flex;
  width: 396px;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 35px;
  gap: 20px;
  justify-content: flex-end;
}

.transaction-form-container form {
  padding: 12px;
  min-width: 0;
  width: auto;
}

/* Import Transaction */
#import_transaction, #add_transaction {
  z-index: 1;
  margin-top: -5px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

#import_transaction {
  margin-left: 47px;
}

/* Custom Tooltip */
.custom-tooltip {
  background: transparent;
  border-radius: 2px;
  position: absolute;
  top: -45px;
  right: -773px;
  z-index: 8;
}

.custom-tooltip-container {
  display: flex;
  flex-direction: column;
}

.custom-tooltip-container p {
  align-self: flex-end;
  margin-right: 6px;
  font-size: 12px;
  padding: 0;
}

/* Form Dropdown Container */
.form-dropdown-container {
  display: flex;
  flex-direction: column;
  width: 338px;
  height: 25px;
}

.form-dropdown-container h2 {
  width: 338px;
  height: 37px;
  margin-top: 16px;
}

.form-dropdown-container button {
  background-color: #0f3964;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.form-dropdown-container button:hover {
  background-color: #0c2c4c;
}

/* Time Period Buttons */
.time-period-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.time-period-buttons-pie {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.time-period-buttons button, .time-period-buttons-pie button {
  background: none;
  border: none;
  color: #000;
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  outline: none;
}

.time-period-buttons button.active, .time-period-buttons-pie button.active {
  color: #1e90ff;
}

.time-period-buttons button.active::after, .time-period-buttons-pie button.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1e90ff;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Recent Transactions */
#recent_transactions {
  width: 333px;
  margin-top: -47px;
  display: flex;
  min-height: 20px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#recent_transactions button {
  position: relative;
  border: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#recent_transactions button:hover {
  color: #0f3964;
}

#recent_transactions h2 {
  align-self: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 9px;
  margin-left: 49px;
  padding: 0;
}

.recent-transactions-container {
  width: 252px;
  margin-right: 19px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 6px 15px 7px rgb(6 4 41 / 29%);
  padding: 10px;
}


/* Transaction */
.transaction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
}

.transaction:nth-child(even) {
  background-color: #dddddda6; /* Light grey background for even rows */
}


.transaction-description {
  font-size: 12px;
  width: 103px;
  padding: 0;
  margin-right: 20px;
}

.transaction-date {
  color: grey;
  font-size: 0.8em;
  margin-top: 4px;
}

.transaction-amount {
  text-align: end;
  width: 70px;
  font-size: 14px;
  font-weight: bold;
}

.transaction h3 {
  width: 32px;
  font-size: 23px;
  margin: 8px;
  padding: 0;
  overflow: hidden;
}

.transaction h2 {
  margin: 0;
  padding: 0;
}

/* Legend */
.legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.legend {
  border-radius: 8px;
  height: 79%;
  width: 264px;
  margin-top: 21px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.legend-item {
  display: flex;
  height: 22px;
  width: 97%;
  margin-top: 1px;
  flex-direction: row;
  align-items: center;
}

.legend-item:nth-child(even) {
  background-color: #dddddd59;
}

.legend-header {
  display: flex;
  width: 91%;
  margin-top: 1px;
  flex-direction: row;
  justify-content: flex-start;
}

.total-expenses {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  width: 91%;
  margin-top: 1px;
  flex-direction: row;
  justify-content: flex-start;
}

.legend-title {
  width: 37px;
  margin-bottom: 6px;
  margin-left: 5px;
  margin-right: 157px;
  align-self: flex-end;
  font-size: 14px;
  font-weight: bold;
}

.legend-item i {
  display: flex;
  margin-right: 20px;
  font-size: 11px;
  width: 205px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.legend-name {
  display: flex;
  margin-left: 5px;
  font-size: 13px;
  width: 287px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.legend-text {
  display: flex;
  width: 66px;
  margin-right: 11px;
  align-self: center;
  font-size: 12px;
  justify-content: flex-end;
}

/* Pie Chart */
.pie-chart {
  margin-right: 15px;
  padding: 0px;
  margin-top: 15px;
  width: 180px;
  height: 180px;
  display: flex;
  border-radius: 120px;
  margin-left: 11px;
}

#pie-chart-with-legend {
  margin-left: 23px;
  border-radius: 8px;
  box-shadow: 0px 6px 15px 7px rgb(6 4 41 / 29%);
  padding: 16px;
  display: flex;
  width: 485px;
  height: 250px;
}

#pie-chart-with-legend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

/* Icon Spacing */
.icon-space {
  margin-right: 3px;
}

/* Shadow Border */
.shadow-border {
  margin-left: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 6px 15px 7px rgb(6 4 41 / 29%);
  padding: 16px;
}

/* Custom Date Range */
.custom-date-range {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.custom-date-range input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
