
#dashboard-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  flex-wrap: wrap;
}

#dashboard-wrapper h1 {
  font-size: 35px;
  padding: 0;
}

#activity-graph {
  width: 65%;
  height: 353px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}

#activity-graph h2 {
  font-size: 20px;
  padding: 0;
}

#balance-display {
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

#balance-display h2 {
  margin-left: 24px;
  font-size: 15px;
  position: relative;
  z-index: 2;
  padding: 0;
}

.transaction-form-container {
  display: flex;
  width: 34%;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 35px;
  gap: 20px; 
  justify-content: flex-end;
}

.transaction-form-container form {
  padding: 12px;
  min-width: 0; 
  width: auto; 
}
#import_transaction {
  z-index: 1;
  margin-top: -5px;
  margin-left: 47px;
  display : flex;
  width: 280px;
  align-items: center; 
  justify-content: start; 
  gap: 10px;
}

.custom-tooltip {
  background: transparent;
  border-radius: 2px;
  position: absolute;
  top: -45px;
  right: -773px;
  z-index: 8;
}
.custom-tooltip-container {
  display: flex;
  flex-direction: column;
}
.custom-tooltip-container p {
  align-self: flex-end;
  margin-right: 6px;
  font-size: 12px;
  padding: 0;
}
  
#add_transaction {
  z-index: 1;
  margin-top: -5px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.form-dropdown-container button {
  background-color: #0f3964; /* Slightly lighter dark blue */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer/hand icon */
  margin-right: 10px;
  transition: background-color 0.3s;
}

.form-dropdown-container button:hover {
  background-color: #0c2c4c; /* Darker blue on hover */
}

.form-dropdown-container {
    display: flex;
    flex-direction: column;
    width: 338px;
    height: 25px;
}
.form-dropdown-container h2 {
  width: 338px;
  height: 37px;
  margin-top: 16px;
}

.icon-space {
  margin-right: 3px;
}

.time-period-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.time-period-buttons button {
  background: none;
  border: none;
  color: #000;
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  outline: none;
}

.time-period-buttons button.active {
  color: #1e90ff; /* Active color */
}

.time-period-buttons button.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1e90ff;
  position: absolute;
  bottom: 0;
  left: 0;
}



#recent_transactions {
  width: 35%;
  display: flex;
  min-height: 20px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.recent-transactions-container {
  margin-right: 15px;
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 10px; /* Space inside the border */
}

.recent-transactions-container > :nth-child(2n+3) {
  background-color: #f2f2f2; /* Light grey background */
}

.shadow-border {
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 16px; /* Space inside the border */
}

#recent_transactions button {
  position: relative;
  border: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#recent_transactions button:hover {
  color: #0f3964;
}

#recent_transactions h2 {
  align-self: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 9px;
  margin-left: 49px;
  padding: 0;
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.transaction p {
  font-size: 12px;
  width: 68px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

#transactionDescription {
  font-size: 12px;
  width: 100px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

#transactionDate {
  font-size: 12px;
  width: 61px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.transaction h3 {
  width: 32px;
  font-size: 14px;
  margin: 8px;
  padding: 0;
  overflow: hidden;
}

.transaction h2 {
  margin: 0;
  padding: 0;
}

.legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.legend {
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    /* box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1); */
    /* padding: 16px; */
    height: 85%;
    width: 137px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 45px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.legend-item i {
  width: 30px;
  text-align: center;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.legend-text {
  align-self: flex-end;
  font-size: 12px;
}

.pie-chart {
  margin-right: 15px;
  border: 3px solid #ddd;
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin-top: 15px;
  width: 180px;
  height: 180px;
  display: flex;
  border-radius: 120px;
  margin-left: 11px;
}

#pie-chart-with-legend {
  margin-left: 23px;
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 16px; /* Space inside the border */
  display: flex;
  width: 485px;
  height: 250px;
}

#pie-chart-with-legend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.time-period-buttons-pie {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.time-period-buttons-pie button {
  background: none;
  border: none;
  color: #000;
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  outline: none;
}

.time-period-buttons-pie button.active {
  color: #1e90ff; /* Active color */
}

.time-period-buttons-pie button.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1e90ff;
  position: absolute;
  bottom: 0;
  left: 0;
}
