
#dashboard-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  flex-wrap: wrap;
}

#dashboard-wrapper h1 {
  font-size: 35px;
  padding: 0;
}

#activity-graph {
  top: auto;
  left: 600px;
  width: 650px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#activity-graph h2 {
  font-size: 20px;
  padding: 0;
}

#balance-display {
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  padding: 0;
}

#balance-display h2 {
  order: 1;
  font-size: 19px;
  height: 0%;
  position: relative;
  top: -45%;
  left: -24%;
  z-index: 2;
  padding: 0;
}

#balance-display p {
  order: 1;
  font-size: 15px;
  height: 0%;
  position: relative;
  top: -46%;
  left: -24%;
  z-index: 2;
  padding: 0;
}

.transaction-form-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px; 
  justify-content: flex-end;
}

.transaction-form-container form {
  padding: 12px;
  min-width: 0; 
  width: auto; 
}
#import_transaction {
  margin-left: 23px;
  display : flex;
  width: 280px;
  align-items: center; 
  justify-content: start; 
  gap: 10px;
}
  
#add_transaction {
  margin-top: -20px;
  margin-left: 23px;
  width: 280px;
  display: flex; 
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.form-dropdown-container button {
  background-color: #0f3964; /* Slightly lighter dark blue */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make it inline-block */
  font-size: 12px; /* Increase font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer/hand icon */
  margin-right: 10px;
  transition: background-color 0.3s;
}

.form-dropdown-container button:hover {
  background-color: #0c2c4c; /* Darker blue on hover */
}

.form-dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;

}
.form-dropdown-container h2 {
  width: 340px;
  height: 38px;
  margin-top: -2px;
}

.icon-space {
  margin-right: 3px;
}


#recent_transactions {
  top: 333px;
  left: 133px;
  position: relative;
  width: 380px;
  display: flex;
  min-height: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#recent_transactions button {
  position: relative;
  border: none;
  top: 6px;
  left: 143px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#recent_transactions button:hover {
  color: #0f3964;
}

#recent_transactions h2 {
  align-self: flex-start;
  font-size: 20px;
  margin-bottom: 13px;
  padding: 0;
}

.transaction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.transaction p {
  font-size: 12px;
  width: 100px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.transaction h3 {
  width: 79px;
  font-size: 14px;
  margin: 8px;
  padding: 0;
  overflow: hidden;
}

.transaction h2 {
  margin: 0;
  padding: 0;
}

.legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.legend {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.legend-text {
  font-size: 14px;
}

.pie-chart {
  width: 300px;
  height: 250px;
  display: flex;
}

#pie-chart-with-legend {
  display: flex;
  width: 600px;
  height: 250px;
}
