#navbar-wrapper {
  display: flex;
  background-image: linear-gradient(357deg, #0f3964 10%, #020e2f 70%);
  height: 50px;
  width: 100%;
  overflow-y: visible;
  justify-content: space-between;
  }

  #button-head {
    display: flex;
    border: 0px solid rgb(255, 255, 255);
    background-color: transparent;
    color: #ffffff;
    position: relative;
    font-size: 18px;
    left: 5px;
    top: 14px;
    overflow-y: visible;
  }

  #button-head:hover {
    cursor: pointer;
  }

  .username-navbar {
    color: #fffeec;
    font-size: 18px;
  }

  .profile-pic  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }