#page-content-wrapper {
  flex-grow: 1;
  overflow-y: visible;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

}

.container-fluid {
  padding-left: 10px;
  padding-bottom: 17px;
  padding-right: 10px;
}

body {
  margin: 0;
}