/* Container for the whole page */
div {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  display: flex;
}

#sidebar-wrapper {
  width: 220px;
  transition: width 0.5s ease;
  height: 100vh;
  background-color: #4e73df;
  background-image: linear-gradient(357deg, #0f3964 10%, #020e2f 70%); 
  flex-shrink: 0;
  overflow: visible;
  box-shadow: 3px -1px 17px 5px rgba(0, 0, 0, 0.7);
}

/* Sidebar Header */
.sidebar-heading {
  position: relative;
  height: 100px;
  left: -2px;
  background-size: cover;
  background-position: bottom;
  background-image: url("../assets/MOONYB-NOB.png")
}

.sidebar-heading-text {
  margin: 0;
  color: white;
  font-size: 16px; /* Adjust as needed */
  padding: 1.5rem;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.7);
}

.sidebar-heading-text h2 {
  position: relative;
  top: -11px;
  left: 18px;
  margin-top: 0px;
}

/* Sidebar Menu */
.sidebar-menu {
  padding-top: 1rem;
}

/* Dropdown Button */
.dropdown-toggle {
  font-family: inherit;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border: none;
  color: #ffffff; /* Dropdown button text color */
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 30px;
  text-decoration: none;
}

.dropdown-toggle-container.active {
  background-color: rgba(255, 255, 255, 0.05); 
}

.dropdown-toggle-container:hover {
  background-color: rgba(255, 255, 255, 0.05); 
}

/* Dropdown Content */

.dropdown-item {
  font-size: 14px;
  color: #ffffff; /* Dropdown item text color */
  display: block;
  width: 100%;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 30px;
}

.dropdown-item-container:hover {
  background-color: rgba(255, 255, 255, 0.05); 
}

.dropdown-item-container.active {
  background-color: rgba(255, 255, 255, 0.05); 
}
/* Spacing Element */
.spacing-element {
  height: 0.5rem; /* Adjust as needed */
}

/* Expanded State */
.spacing-element.expanded {
  background-color: rgba(255, 255, 255, 0.1); /* Background color when dropdown is expanded */
}
