/* Container for the whole page */
div {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  display: flex;
}

#sidebar-wrapper {
  width: 240px;
  transition: width 0.5s ease;
  height: 100vh;
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%); 
  flex-shrink: 0;
  overflow-y: auto; /* To allow scrolling if content overflows */
}

/* Sidebar Header */
.sidebar-heading {
  position: relative;
  padding: 1rem;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: transparent;
}

/* Sidebar Menu */
.sidebar-menu {
  padding-top: 1rem;
}

/* Dropdown Button */
.dropdown-toggle {
  font-family: inherit;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border: none;
  color: #ffffff; /* Dropdown button text color */
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 30px;
  text-decoration: none;
}

.dropdown-toggle-container.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-toggle-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Dropdown Content */

.dropdown-item {
  font-size: 14px;
  color: #ffffff; /* Dropdown item text color */
  display: block;
  width: 100%;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 30px;
}

.dropdown-item-container:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Dropdown item container hover background color */
}

.dropdown-item-container.active {
  background-color: rgba(255, 255, 255, 0.1); /* Dropdown item container active background color */
}
/* Spacing Element */
.spacing-element {
  height: 0.5rem; /* Adjust as needed */
}

/* Expanded State */
.spacing-element.expanded {
  background-color: rgba(255, 255, 255, 0.1); /* Background color when dropdown is expanded */
}
