#all-transactions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-container {
    margin-left: 479px;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.delete-btn {
    margin-right: 3px;
    border: 0;
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
    padding: 0px 1px;
    border-radius: 20%;
    transition: background-color 0.3s;
}

.edit-btn {
    border: 0;
    cursor: pointer;
    background-color: #4d4dff;
    color: white;
    padding: 0px 1px;
    border-radius: 20%;
    transition: background-color 0.3s;
}

#all-transactions button:hover {
    background-color: #252222;
}

.all-transactions-container {
    width: 775px;
    max-height: 78vh;
    overflow-y: auto;
    margin-left: 313px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.all-transactions-container::-webkit-scrollbar {
    width: 8px;
  }
  
.all-transactions-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
  
.all-transactions-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#all-transactions h2 {
    margin-left: 316px;
    position: sticky;
    z-index: 1000;
}

.edit-transaction-form {
    width: 226px;
    box-shadow: 0px 5px 20px 2px rgb(6 4 41 / 29%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    z-index: 1000;
    top: 39%;
    left: 61%;
    transform: translate(-50%, -50%);
}

.apply-all-container {
    display: flex;
    align-items: center;
}
  
.apply-all-container label {
    margin-top: 0px;
    width: 166px;
}

.apply-all-container input {
    margin-top: 14px;
    width: 13px;
}

.category-div-edit-form {
    margin-top: 0px;
}

.subCategory-div-edit-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.editDesc-container {
    margin: 15px 0px 0px;
}

.editAmount-container   {
    margin: 0px 0px 0px;
}

.editDate-container {
    margin: 0px 0px -14px;
}